@model OrderTableListVm

<form method="get">
    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.Numbers"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.Numbers" class="text-danger"></span>
        </div>
        <select class="form-control" multiple="multiple"
                asp-for="@Model.FiltrationModel.Numbers"
                asp-items="@(new MultiSelectList(Model.Numbers, "Number", "Number"))">
        </select>
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.OrderItemNames"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.OrderItemNames" class="text-danger"></span>
        </div>
        <select class="form-control" multiple="multiple"
                asp-for="@Model.FiltrationModel.OrderItemNames"
                asp-items="@(new MultiSelectList
                                (Model.OrderItems.OrderItems.Select(oI => new { Name = oI.Name }).Distinct(),
                                "Name", "Name"))">
        </select>
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.OrderItemUnits"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.OrderItemUnits" class="text-danger"></span>
        </div>
        <select class="form-control" multiple="multiple"
                asp-for="@Model.FiltrationModel.OrderItemUnits"
                asp-items="@(new MultiSelectList
                                (Model.OrderItems.OrderItems.Select(oI => new { Unit = oI.Unit }).Distinct(),
                                "Unit", "Unit"))">
        </select>
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.StartDate"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.StartDate" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="@Model.FiltrationModel.StartDate" />
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.EndDate"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.EndDate" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="@Model.FiltrationModel.EndDate" />
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.FiltrationModel.FiltrationProviders"></label>
        <div>
            <span asp-validation-for="@Model.FiltrationModel.FiltrationProviders" class="text-danger"></span>
        </div>
        <select class="form-control" multiple="multiple"
                asp-for="@Model.FiltrationModel.FiltrationProviders"
                asp-items="@(new MultiSelectList(Model.Providers.Providers, "Id", "Name"))">
        </select>
    </div>

    <button class="btn m-2 btn-primary" type="submit">Filter</button>
</form>

<div class="m-2">
    <h4 class="bg-primary text-white text-center p-2">Orders</h4>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Date</th>
                <th>Provider</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderTableVm order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Number</td>
                    <td>@order.Date</td>
                    <td>@order.Provider.Name</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@order.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@order.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>
