@model OrderViewModel

<h3 class="bg-@Model.Theme text-white text-center p-2">
    @Model.Action
</h3>

<form asp-controller="Home" asp-action="@Model.Action" method="post" class="m-2">
    <div class="form-group m-2">
        <label asp-for="OrderDetails.Id"></label>
        <div>
            <span asp-validation-for="OrderDetails.Id" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="OrderDetails.Id" readonly />
    </div>
    <div class="form-group m-2">
        <label asp-for="OrderDetails.Number"></label>
        <div>
            <span asp-validation-for="OrderDetails.Number" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="OrderDetails.Number" readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group m-2">
        <label asp-for="OrderDetails.Date"></label>
        <div>
            <span asp-validation-for="OrderDetails.Date" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="OrderDetails.Date" readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group m-2">
        <label asp-for="OrderDetails.ProviderId"></label>
        <div>
            <span asp-validation-for="OrderDetails.ProviderId" class="text-danger"></span>
        </div>
        <select asp-for="OrderDetails.ProviderId" class="form-control" readonly="@Model.ReadOnly"
                asp-items="@(new SelectList(Model.Providers.Providers, "Id", "Name"))">
            <option value="" disabled selected>Choose a Provider</option>
        </select>
    </div>

    @if (Model.ShowAction)
    {
        <button class="btn m-2 btn-@Model.Theme" type="submit">@Model.Action</button>
    }
    <a class="btn m-2 btn-secondary" asp-controller="Home" asp-action="Index">Back</a>
</form>

<div class="m-2" hidden="@(Model.OrderDetails.Id == 0)">
    <h5 class="bg-primary text-white text-center p-2">OrderItems</h5>
    @*<table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderItemTableVm orderItem in Model.OrderDetails.OrderItems)
            {
                <tr>
                    <td>@orderItem.Name</td>
                    <td>@orderItem.Quantity</td>
                    <td>@orderItem.Unit</td>
                    <td>
                        <a asp-controller="OrderItem" asp-action="Edit" asp-route-id="@orderItem.Id" class="btn btn-sm btn-info">Edit</a>
                        <a asp-controller="OrderItem" asp-action="Delete" asp-route-id="@orderItem.Id" class="btn btn-sm btn-warning">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

    @foreach (OrderItemTableVm orderItem in Model.OrderDetails.OrderItems)
    {
        <div class="m-2">
            <partial name="_OrderItem" model="@(OrderItemViewModelFactory.Edit(orderItem))" />
            @*<a asp-controller="OrderItem" asp-action="Edit" asp-route-id="@orderItem.Id" class="btn btn-sm btn-info">Edit</a>*@
            <div class="d-grid gap-2 col-2 mx-auto m-2">
                <a asp-controller="OrderItem" asp-action="Delete"
                    asp-route-orderId="@Model.OrderDetails.Id"
                    asp-route-id="@orderItem.Id" 
                    class="btn btn-danger btn-block">
                Delete
                </a>
            </div>
            <hr class="bg-danger border-2 border-top border-danger">
        </div>
    }

    <h5 class="bg-info text-white text-center p-2">Creation</h5>
    <partial name="_OrderItem" model="@(OrderItemViewModelFactory.Create(new OrderItemTableVm { OrderId = Model.OrderDetails.Id}))" />
</div>